<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @person.company_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @person.department %>
</p>

<p>
  <strong>Position:</strong>
  <%= @person.position %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @person.relation %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @person.staff_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
